/*for universal body*/
* {
    margin: 0;
    padding: 0;
}
/*for  body*/
body {
    font-family: sans-serif;
}
/*for nav-bar*/
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 999;
}
/*for nav-bar-icon*/
.navbar-toggler-icon {
    background-image: none;
    color: #fff;
}
/*for navbar*/
.navbar {
    background: linear-gradient(to right, #2457d7, #3b125d);
    text-align: center;
}
/*for navbar-brand*/
.navbar-brand {
    margin-left: 40px !important;
    color: #fff !important;
}
/*for navbar list*/
.navbar-nav li {
    padding: 0 20px;
    margin-right: 10px;
}
/*for navbar anchor */
.navbar-nav a {
    color: white;
    font-weight: 200;
    font-family: Arial;
    font-style: italic;
    text-align: right;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler {
    border: none !important;
}

.footer {
    background-color: #a49797;
    max-width: 100% !important;
}

.footer a {
    color: white;
}

.main_img {
    background-image: url('images/index.jpg.webp');
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover-heading {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    color: white;
}

.cover-heading span {
    color: #face0c;
}

.app {
    background-color: #eef2f6;
    width: 100%;

}

.app_img {
    background-image: url('images/app.jpg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;

}

.app_heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.feature {
    height: 100%;
}

.feature>* {
    padding: 0 !important;
}

.feature img {
    width: 100%;
    height: 300px;
}

.feature_img1 {
    background-image: url('images/featured_1.jpg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;

}

.feature_img2 {

    background-image: url('images/featured_2.jpg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.feature_img3 {
    background-image: url('images/featured_3.jpg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.feature_img4 {

    background-image: url('images/featured_4.jpg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.feature_img5 {

    background-image: url('images/featured_5.jpg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
}

.feature_img6 {

    background-image: url('images/featured_6.jpg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;

}

.feature-tile {
    position: relative;
    bottom: 80px;
    width: 100%;
    height: 80px;
    background-color: #000;
    opacity: 0.6;


}

.feature-icon {
    color: #ff1a4b;
    font-size: 45px;
}

.feature-heading,
.feature-heading2 {
    color: #fff;
    font-size: 16px;
    height: 50%;
    line-height: 20px;
    margin-bottom: 0;
}

.feature-heading2 {
    font-size: 14px;
}

.update {
    background-image: url('images/index.jpg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.update_heading {
    color: yellow;
}

.update_img1 {
    background-image: url('images/news_1.jpg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.update_img2 {
    background-image: url('images/news_2.jpg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}